@model VidlyWeb.Models.Movie
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<ul>
    <li>Genre: @Model.Genre.Name </li>
    <li>Release Date: @Model.ReleaseDate.Date.ToLongDateString() </li>
    <li>Date Added: @Model.InventoryDate.Date.ToLongDateString() </li>
    <li>Number in Stock: @Model.NumberInStock </li>
</ul>